[growatt]
server_url = {{ growatt_server_url }}
username = {{ growatt_username }}
password = {{ growatt_password }}

[shelly]
baseurl = {{ shelly_baseurl }}
username = {{ shelly_username }}
password = {{ shelly_password }}
turnon_seconds = {{ shelly_turnon_seconds }}

[main]
check_interval_seconds = {{ check_interval_seconds }}
battery_threshold_on_percent = {{ battery_threshold_on_percent }}
battery_threshold_off_percent = {{ battery_threshold_off_percent }}
night_start_hour = {{ night_start_hour }}
night_start_minute = {{ night_start_minute }}
night_end_hour = {{ night_end_hour }}
night_end_minute = {{ night_end_minute }}
