[growatt]
server_url = {{ growatt_server_url }}
username = {{ growatt_username }}
password = {{ growatt_password }}
inverter_sn = {{ growatt_inverter_sn }}
login_tries = {{ growatt_login_tries }}
login_retry_wait_seconds = {{ growatt_login_retry_wait_seconds }}

[shelly]
baseurl = {{ shelly_baseurl }}
auth_type = {{ shelly_auth_type }}
username = {{ shelly_username }}
password = {{ shelly_password }}
turnon_seconds = {{ shelly_turnon_seconds }}

[main]
check_interval_seconds = {{ check_interval_seconds }}
battery_threshold_on_percent = {{ battery_threshold_on_percent }}
battery_threshold_off_percent = {{ battery_threshold_off_percent }}
night_start_hour = {{ night_start_hour }}
night_start_minute = {{ night_start_minute }}
night_end_hour = {{ night_end_hour }}
night_end_minute = {{ night_end_minute }}
