[Unit]
Description=Growatt App
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=30
WorkingDirectory=/opt/app
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target