[growatt]
server_url = https://server.growatt.com/
;server_url = https://openapi.growatt.com/
username = user
password = secret123$
login_tries = 3
login_retry_wait_seconds = 10

[shelly]
baseurl = http://192.168.x.x
;'basic for Gen 1 or 'digest' for Gen 2+ Shelly devices
auth_type = digest
username = admin
password = secret123$
turnon_seconds = 1800

[main]
check_interval_seconds = 300
battery_threshold_on_percent = 75
battery_threshold_off_percent = 25
night_start_hour = 22
night_start_minute = 00
night_end_hour = 5
night_end_minute = 00